
.footerPositionLC{
      /* position: absolute;   */
    bottom: 0px;
    width: 100%;
} 


.footerbg{
background-color: honeydew;
}

.c1{
width: 50%;
}

.c2{
width: 50%;
}
/* Inico Ids propias */
#lightText{
    color: rgb(26, 24, 24);
}

.formattedTxtF{
    padding: 1.5vh 1.5vh 2vh 1.4vh;
}

/* Clases modificadas de boostrap */

.list-group-item-dark{
    background-color:azure;
}
