
.footerPositionLC{
    bottom: 0px;
    width: 100%;
} 


.footerbg{
background-color: #F2F7A1;
}

.c1{
width: 65%;
}

.c2{
width: 25%;
}

#hoverable{
    transition: transform 0.7s, filter 0.6s;
}

#hoverable:hover{
    transform: scale(1.07);
    filter: brightness(1.1);
}



/* Inico Ids propias */
#darkText{
    color: rgb(26, 24, 24);
}



/* Clases modificadas de boostrap */

.list-group-item-dark{
    background-color:azure;
}
