
.footerPositionLC{
    bottom: 0px;
    width: 100%;
} 


.footerbg{
background-color: #F2F7A1;
}

.c1{
width: 65%;
}

.c2{
width: 25%;
}
/* Inico Ids propias */
#lightText{
    color: rgb(26, 24, 24);
}



/* Clases modificadas de boostrap */

.list-group-item-dark{
    background-color:azure;
}
