<div class="footerPositionLC d-flex flex-column flex-md-shrink-0 pt-sm-3">
    <footer class="footerbg p-xs-0 p-sm-3 p-md-8 p-lg-3 p-xl-5" style="display: flex;">
        <div class="c1">
            <h3 class="formattedTxtF" id="lightText">{{title}}</h3>
            <p class="formattedTxtF" id="lightText">Neiva, Copyright 2023</p>
            <span class="formattedTxtF" id="lightText">Email:</span><a href="mailto:jjurbano2022@corhuila.edu.co" class="formattedTxt" id="lightText">jjurbano2022@corhuila.edu.co</a>
        </div>
        <div class="c2">
            <button type="button" class="btn btn-dark " data-toggle="tooltip" data-placement="top"
                title="Here are our social media accounts">
                <h3>Follow us</h3>
            </button>
            <ul class="list-group mb-xs-auto mb-sm-auto">

                <a id="lightText" href="#"
                    class="list-group-item list-group-item-action list-group-item-dark">Facebook</a>
                <a id="lightText" href="#"
                    class="list-group-item list-group-item-action list-group-item-dark">twitter</a>
                <a id="lightText" href="#"
                    class="list-group-item list-group-item-action list-group-item-dark">Instagram</a>
            </ul>
        </div>
    </footer>
</div>