<div class="container 1"><BR>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
        <div class="col-sm-12 col-md-4 col-lg-6 col-lg-2 text-azure">
            <h1>Quienes somos?</h1><BR>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 bg-brown">
                    </div>
                    <div class="col-md-8 mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{title}}</h5>
                            <p class="card-text text-dark">
                                Creamos diseño casa, locales o cualquier tipo de estructura para empresas, reformas,
                                edificación y
                                obras. Creamos los mejores diseños. ¡Solicita tu página construccion ya!.
                                Igualmente Somos una empresa dedicada en venta de productos de construccion!
                                Alvaro S.A, tú mejor
                                opción..</p>
                            <p class="card-text text-dark"><small class="text-body-secondary">1 año atrás</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><Br>
        <div class="col-sm-12 col-md-4 col-lg-6 col-lg-2 text-azure mb-3">
            <h1>Información acerca de nosotros.</h1><BR>
            <p class="card-text text-dark mb-3">
                <li class="mb-2">Historia: Esta empresa nace a raiz de construir los sueños de las personas.</li>
                <li class="mb-2">Ubicación: CRA 32 #1-50 Las brisas.</li>
                <li class="mb-2">Especialización: Construccion estructuras complejas.</li>
                <li class="mb-2">Servicios ofrecidos: Diseño arquitectónico, planificación, construcción, consultoría y
                    venta de materiales.</li>
                <li class="mb-2">Información de contacto:
                    <ul> - 317 346 31 33</ul>
                    <ul> - 310 407 70 85</ul>
                </li>
            </p>
        </div>
    </div>
</div><BR>