<div class="container">
            <h1 style="color: white;" class="text-hover pt-1">Catálogo</h1><BR>
            <div class="table-responsive table-bordered ">
                <table class="table align-middle table-light">
                    <th>codigo</th>
                    <th>Marca</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Caracteristicas</th>
                    <th>Garantia</th>
                    <th>Referencia</th>
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of catalogos ">
                            <td>{{producto.codigoProducto}}</td>
                            <td class="text-hover">{{producto.nombre}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.costo}}</td>
                            <td>{{producto.caracteristicas}}</td>
                            <td>{{producto.garantia}}</td>
                            <td>{{producto.referencia}}</td>
                        </tr>
                       
                    </tbody>
                </table><BR>
            </div>
            <button type="button" class="btn btn-warning" [routerLink]="['/clientes/form']" id="hoverable">Cotizar Producto</button>
        </div>
        

