
<div class="container 2"><BR>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-lg-4 text-azure">
            <h3> Nuestro trabajo</h3><BR>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 bg-brown">
                        <img src ="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{title}}</h5>
                            <p  class="card-text text-dark">Lo mejor en seguridad para tu empresa!
                                Televigilancia, tú mejor
                                opción..</p>
                            <p class="card-text text-dark"><small class="text-body-secondary">imagen x</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-lg-4">
            <h3 style="color: white">Catálogo</h3><BR>
            <div class="table-responsive table-bordered ">
                <table class="table align-middle table-light">
                    <th>Marca</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Caracteristicas</th>
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marca x</td>
                            <td>Camara x</td>
                            <td>$189.999</td>
                            <td>Buena, bonita y barata</td>
                        </tr>
                        <tr>
                            <td>Dahua</td>
                            <td>Cámara 2MP Full Color</td>
                            <td>$90.000</td>
                            <td>Full color, 30 Fps, Angulo de visión 95º</td>
                        </tr>
                        <tr>
                            <td>AthmelStart</td>
                            <td>Sirena 30 vatios</td>
                            <td>$80.000</td>
                            <td>Sonido tipo hawaiano, dos tonos diferentes, alcance</td>
                        </tr>
                        <tr>
                            <td>Marca x</td>
                            <td>Camara x</td>
                            <td>$189.999</td>
                            <td>Buena, bonita y barata</td>
                        </tr>
                        <tr>
                            <td>Marca x</td>
                            <td>Camara x</td>
                            <td>$189.999</td>
                            <td>Buena, bonita y barata</td>
                        </tr>
                    </tbody>
                </table><BR>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-lg-4">
            <form action="" th:object="" method="">
                <h3 style="color: white">Cotizar</h3>
                <BR>
                <div class="mb-3 text-azure">
                    <label for="NombreInput" class="form-label">
                        <p>Nombre</p>
                    </label>
                    <input th:field="*{nombre}" type="text" class="form-control" id="NombreInput" placeholder="">
                </div>
                <div class="mb-3 text-azure">
                    <label for="DocumentoInput" class="form-label">
                        <p>Documento</p>
                    </label>
                    <input th:field="*{documento}" type="number" class="form-control" id="DocumentoInput"
                        placeholder="">
                </div>
                <div class="mb-3 text-azure">
                    <label for="emailInput" class="form-label">
                        <p>Email</p>
                    </label>
                    <input th:field="*{email}" type="email" class="form-control" id="emailInput" placeholder="">
                </div>

                <div class="mb-3 text-azure">
                    <label for="TelefonoInput" class="form-label">
                        <p>Teléfono</p>
                    </label>
                    <input th:field="*{telefono}" type="number" class="form-control" id="TelefonoInput" placeholder="">
                </div>
                <label for="TipoProductoCombox" class="form-label text-azure">
                    <p>Producto</p>
                </label>
                <select th:field="*{tipoProducto}" class="form-select form-select-sm" aria-label=".form-select-sm "
                    id="TipoProductoCombox">
                    <option value="">...</option>
                    <option value="Kit Alarma 3G">Kit Alarma 3G</option>
                    <option value="Cámara 2MP Full Color"> Cámara 2MP Full Color</option>
                    <option value="Cámara de seguridad TP-Link C100 V1 Tapo Smart">Cámara de seguridad TP-Link C100 V1
                        Tapo
                        Smart</option>
                    <option value="Sensor Barrera">Sensor Barrera</option>
                    <option value="Rollo de cable Neopren"> Rollo de cable Neopren</option>
                    <option value="Alarma Comunitaria">Alarma Comunitaria</option>
                    <option value="DVR">DVR</option>
                    <option value="	Boton de Panico">Cierre Magnético Liviano para puestas</option>
                    <option value="Cierre Magnético Liviano para puestas">Cierre Magnético Liviano para puestas</option>
                    <option value="Sirena 30 vatios">Sirena 30 vatios</option>

                </select>
            </form>
        </div>

    </div>
</div><BR>