:root{
    --main-border-radius: 5%
}

.card-container{
    border-radius: 5%
}

.img-Container{
    overflow: hidden;
    border-radius: 5%;
    background-image: url("/imagenes/1.png");
    background-size: cover-1;

}

.text-azure{
    color: azure;
}
