<div class="container 1"><BR>
    <div class="centrar-body">
        <h4 style="color:azure"> {{title}} es una empresa dedicada a prestar servicios en seguridad.</h4>
        <h4 style="color:azure"> Desarrolladores de la empresa:</h4>
        <li>1: {{desarrolladores[0].nombre}}. Especializado en: {{desarrolladores[0].campo}}</li>
        <li>2: {{desarrolladores[1].nombre}}. Especializado en: {{desarrolladores[1].campo}}</li>
        <li>Fecha Creación: {{fechaCreacion}}</li>
     </div>
     </div>
     <BR>
       <div class="container 1"><BR>
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-10 ">
                    <figure class="text-center">
                        <h2 style="color:white;">SurvellianceNetI</h2><BR>
                    </figure>
                    <h3 style="color: white">Tabla Productos</h3><BR>
                </div>
            </div>
      <div class="table-responsive table-bordered ">
        <table class="table align-middle table-light">
            <th>Marca</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Caracteristicas</th>
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr>
                <td>Marca x</td>
                <td>Camara x</td>
                <td>$189.999</td>
               <td>Buena, bonita y barata</td>
            </tr>
            <tr>
              <td>Dahua</td>
              <td>Cámara 2MP Full Color</td>
              <td>$90.000</td>
             <td>Full color, 30 Fps, Angulo de visión 95º</td>
          </tr>
          <tr>
            <td>AthmelStart</td>
            <td>Sirena 30 vatios</td>
            <td>$80.000</td>
           <td>Sonido tipo hawaiano, dos tonos diferentes, alcance</td>
        </tr>
            </tbody>
        </table><BR>
    </div>
     