<div class="d-flex flex-column flex-md-shrink-0 text-white bg-dark col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-10 p-xs-0 p-sm-3 p-md-8 p-lg-3 p-xl-5 w-auto">
    <a href="/" class="d-flex align-items-center mb-lg-0 mb-md-0 me-md-auto pt-xs-5 p-md-5 p-xl-5 text-white text-decoration-none">
      <span class="fs-4">SurvellianceNetI</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Login
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Ordenar
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Catálogo
        </a>
      </li>
    </ul>
    
    <div class="btn-group dropend bg-dark">
      <button type="button" class="btn btn-dark dropdown-toggle p-xl-0 p-sm-3" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown1">
        Dropright
      </button>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> 