<div class="container"><BR>
    <h2 style="color: azure">Cotización</h2><BR>
    <form action="" th:object="" method="">
        <div class="mb-3 text-azure">
            <label for="NombreInput" class="form-label">
                <p>Nombres</p>
            </label>
            <input th:field="*{nombres}" type="text" class="form-control" id="NombresInput" placeholder="">
        </div>
        <div class="mb-3 text-azure">
            <label for="NombreInput" class="form-label">
                <p>Apellidos</p>
            </label>
            <input th:field="*{apellidos}" type="text" class="form-control" id="ApellidosInput" placeholder="">
        </div>
        <div class="mb-3 text-azure">
            <label for="DocumentoInput" class="form-label">
                <p>Documento</p>
            </label>
            <input th:field="*{documento}" type="number" class="form-control" id="DocumentoInput" placeholder="">
        </div>
        <div class="mb-3 text-azure">
            <label for="emailInput" class="form-label">
                <p>Email</p>
            </label>
            <input th:field="*{email}" type="email" class="form-control" id="emailInput" placeholder="">
        </div>

        <div class="mb-3 text-azure">
            <label for="TelefonoInput" class="form-label">
                <p>Teléfono</p>
            </label>
            <input th:field="*{telefono}" type="number" class="form-control" id="TelefonoInput" placeholder="">
        </div>
        <div class="mb-3 text-azure">
            <label for="NombreInput" class="form-label">
                <p>Direccion</p>
            </label>
            <input th:field="*{direccion}" type="text" class="form-control" id="direccionInput" placeholder="">
        </div>
        <button type="button" class="btn btn-warning">Enviar Formulario</button>
    </form>
</div>