<div class="container 1"><BR>
    <figure class="text-center text-white">
        <h2>SurvellianceNetI</h2><BR>
    </figure>
    <div class="centrar-body text-azure">
        <h4> {{title}} es una empresa dedicada a prestar servicios en seguridad.</h4>
        <h5> Desarrolladores de la empresa:</h5>
        <li>1: {{desarrolladores[0].nombre}}. Rol: {{desarrolladores[0].campo}}</li>
        <li>2: {{desarrolladores[1].nombre}}. Rol: {{desarrolladores[1].campo}}</li>
        <li>Fecha Creación: {{fechaCreacion}}</li><BR>
    </div>
</div>
