/* You can add global styles to this file, and also import other style files */
body {
  background-color:#01033E;
  height:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
li {
  color:azure;
}
th {
  color:azure
}
html {
  min-height: 100%;
  position: relative;
}