<div class="container 1">
        <h3 style="color: white;" class="text-hover pt-1">Tabla Clientes.</h3><BR>
        <div class="table-responsive table-bordered">
            <table class="table align-middle table-light">
                <tr>
                    <th>Identificación</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Fecha Nacimiento</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Usuario</th>
                    <th>Ocupación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.identificacion}}</td>
                        <td>{{cliente.primerNombre}}</td>
                        <td>{{cliente.segundoNombre}}</td>
                        <td>{{cliente.primerApellido}}</td>
                        <td>{{cliente.segundoApellido}}</td>
                        <td>{{cliente.fechaNacimiento}}</td>
                        <td>{{cliente.direccion}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.usuario}}</td>
                        <td>{{cliente.ocupacion}}</td>
                        <td><input type="button" name="button" class="btn btn-warning" [routerLink]="['/clientes/form',cliente.identificacion]" value="Editar"></td>
                        <td><input type="button" name="button" class="btn btn-danger" [routerLink]="['/clientes/form',cliente.identificacion]" value="Eliminar"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>