<div class="container">
  <h1 style="color: azure">{{titulo}}</h1><BR>
  <form (ngSubmit)="create()">
    <div class="mb-3 text-azure">
      <label for="Identificacion" class="form-label">
        <p>Identificación</p>
      </label>
      <input type="number" id="Identificacion" name="Identificacion" class="form-control"
        [(ngModel)]="cliente.identificacion" placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="primer_nombre" class="form-label">
        <p>Primer Nombre</p>
      </label>
      <input type="text" class="form-control" id="PNInput" name="primer_nombre" [(ngModel)]="cliente.primer_nombre"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="segundo_nombre" class="form-label">
        <p>Segundo Nombre</p>
      </label>
      <input type="text" class="form-control" id="SNInput" name="segundo_nombre" [(ngModel)]="cliente.segundo_nombre"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="primer_apellido" class="form-label">
        <p>Primer Apellido</p>
      </label>
      <input type="text" class="form-control" id="PAInput" name="primer_apellido" [(ngModel)]="cliente.primer_apellido"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="segundo_apellido" class="form-label">
        <p>Segundo Apellido</p>
      </label>
      <input type="text" class="form-control" id="SAInput" name="segundo_apellido"
        [(ngModel)]="cliente.segundo_apellido" placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="FNInput" class="form-label">
        <p>Fecha de Nacimiento</p>
      </label>
      <input type="text" class="form-control" id="FNInput" name="FNInput" [(ngModel)]="cliente.fecha_nacimiento"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="direccion" class="form-label">
        <p>Dirección</p>
      </label>
      <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="cliente.direccion"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="telefono" class="form-label">
        <p>Teléfono</p>
      </label>
      <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="cliente.telefono"
        placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="usuario" class="form-label">
        <p>Usuario</p>
      </label>
      <input type="usuario" class="form-control" id="UInput" name="usuario" [(ngModel)]="cliente.usuario" placeholder="">
    </div>

    <div class="mb-3 text-azure">
      <label for="password" class="form-label">
        <p>Contraseña</p>
      </label>
      <input type="password" class="form-control" id="PInput" name="password" [(ngModel)]="cliente.password"
        placeholder="">
    </div>
    <div class="mb-3 text-azure">
      <label for="ocupacion" class="form-label">
        <p>Ocupación</p>
      </label>
      <input type="text" class="form-control" id="ocupacion" name="ocupacion" [(ngModel)]="cliente.ocupacion"
        placeholder="">
    </div>
    <div class="form-group column">
      <div class="col-sm-6">
        <button class="btn btn-warning" role="button" (click)="create()"
          *ngIf="!cliente.identificacion else elseBlock">Crear</button>
        <ng-template #elseBlock>
          <button class="btn btn-dark" role="button" (click)="update()">Editar</button>
        </ng-template>
      </div>
    </div>
  </form>
</div>